<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>12</key>
	<array>
		<string>sale</string>
		<string>売り上げ</string>
		<integer>2</integer>
	</array>
	<key>11</key>
	<array>
		<string>train</string>
		<string>電車</string>
		<integer>1</integer>
	</array>
	<key>10</key>
	<array>
		<string>liberty</string>
		<string>図書館</string>
		<integer>2</integer>
	</array>
	<key>9</key>
	<array>
		<string>art</string>
		<string>芸術</string>
		<integer>1</integer>
	</array>
	<key>8</key>
	<array>
		<string>head</string>
		<string>頭</string>
		<integer>1</integer>
	</array>
	<key>7</key>
	<array>
		<string>good</string>
		<string>良い</string>
		<integer>1</integer>
	</array>
	<key>6</key>
	<array>
		<string>fix</string>
		<string>定着させる</string>
		<integer>2</integer>
	</array>
	<key>5</key>
	<array>
		<string>play</string>
		<string>遊ぶ</string>
		<integer>1</integer>
	</array>
	<key>4</key>
	<array>
		<string>speak</string>
		<string>話す</string>
		<integer>1</integer>
	</array>
	<key>3</key>
	<array>
		<string>aloud</string>
		<string>声に出して</string>
		<integer>2</integer>
	</array>
	<key>2</key>
	<array>
		<string>test</string>
		<string>試験</string>
		<integer>1</integer>
	</array>
	<key>1</key>
	<array>
		<string>word</string>
		<string>単語</string>
		<integer>1</integer>
	</array>
</dict>
</plist>
